{% extends '::base.html.twig' %}

{% block body -%}
	<h1>Buy VIP-status for job {{job.title}}</h1>
	<form method="POST">
		{{ form_widget(form) }}
	<input type="submit" value="Buy!" />
	</form>
{% endblock %}
